/*------------Normal state------------*/
.btn-primary, .btn-icon {
    background-color: var(--color-primary);
    color: var(--color-text-light);

    border-radius: var(--border-radius-sm);
    border: none;
    /*border med mellomrom, ikke helt til kanten av boksen*/

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 5px;
}

.btn, .btn-secondary {
    background-color: var(--color-background);
    color: var(--color-primary);

    border-radius: var(--border-radius-sm);
    border: 1.25px solid var(--color-primary);
    /*border med mellomrom, ikke helt til kanten av boksen*/

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 5px;
}



/*------------Hover effects------------*/
.btn-primary:hover, .btn-icon:hover {
    background-color: var(--color-primary-dark);
}

.btn:hover, .btn-secondary:hover {
    background-color: var(--color-secondary-hover);
    color: var(--color-primary);
}



/*------------Disabled effects------------*/
.btn-primary-disabled, .btn-icon-disabled {
    background-color: var(--color-primary-light);
    color: var(--color-primary-disabled);

    border-radius: var(--border-radius-sm);
    border-style: none;
    /*inline border/shadow?*/

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 5px;
}

.btn-disabled, .btn-secondary-disabled {
    background-color: var(--color-grey-light);
    color: var(--color-grey-dark);

    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-grey-medium);
    /*inline border/shadow?*/

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 5px;
}
