/*==================================================
                    LIST
==================================================*/

.list {
    display: flex;
    flex-direction: column;
}


/*----------------List item----------------*/

.list-item {
    padding: var(--space-3);

    background-color: var(--color-background);
    color: var(--color-text-dark);

    border-bottom: 1px solid var(--color-grey-medium);

    cursor: pointer;
}


/*----------------List item hover----------------*/

.list-item:hover {
    background-color: var(--color-grey-light);
}


/*----------------Selected list item----------------*/

.list-item.selected {
    background-color: var(--color-primary-light);
    border-left: 3px solid var(--color-primary);
}


/*----------------List header----------------*/

.list-item-header {
    display: flex;
    justify-content: space-between;
    gap: var(--space-2);

    font-size: var(--font-size-sm);
}


/*----------------List title----------------*/

.list-item-title {
    margin: var(--space-1) 0;

    font-size: var(--font-size-md);
    font-weight: 600;
}


/*----------------List meta----------------*/

.list-item-meta {
    font-size: var(--font-size-sm);
    color: var(--color-text-dark);
}