:root {
    /*---------------Colors---------------*/
    --color-background: #F8F9FC;

    --color-text-dark: #29364A;
    --color-text-light: var(--color-background);

    --color-primary: #3B82F6;
    --color-primary-light: #b2cfff;
    --color-primary-dark: #3679e6;

    --color-grey-dark: #b7c3df;
    --color-grey-medium: #dfe4ec;
    --color-grey-light: #e8ecf3;

    /*Specified for buttons start*/
    --color-primary-disabled: #6f9feb;
    --color-primary-active: #3169c4;

    --color-secondary-hover: #d5e4fc;
    --color-secondary-active: #c8dbf7;
    /*Specified for buttons end*/

    --color-success: #18a352;
    --color-danger: #e44343;
    --color-warning: #f7c029;


    /*--------------Font-sizes--------------*/
    --font-size-xs: 0.75rem;    
    --font-size-sm: 0.875rem;  
    --font-size-md: 1rem;      
    --font-size-lg: 1.25rem;   
    --font-size-xl: 1.5rem;    
    --font-size-2xl: 2rem;      
    --font-size-3xl: 2.5rem;

    /*----------------Spacing----------------*/
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;

    /*-------------Border-radius-------------*/
    --border-radius-sm: 6px;
    --border-radius-md: 10px;
    --border-radius-lg: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text-dark);
}

main {
    flex: 1;

    padding: var(--space-4);
    margin: 1% 4% 100px 3%;
}

.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
}


footer {
    display: flex;
    justify-content: space-between;

    padding: var(--space-3);

    border-top: 1px solid var(--color-grey-medium);

    font-size: var(--font-size-sm);
    color: var(--color-text-dark);
}

#footer-icon img {
    width: auto;
    height: 20px;
    padding-left: 5px;
}


h1 {
    font-size: var(--font-size-2xl);
}
h2 {
    font-size: var(--font-size-xl);
}
h3 {
    font-size: var(--font-size-lg);
}
p {
    font-size: var(--font-size-md);
}

button, input, textarea, select {
    font: inherit;
}