:root {
    --color-primary: #3B82F6;

    --color-primary-dark: #3777dd;
    --color-primary-light: #b2cfff;
    --color-primary-disabled: #6f9feb;

    --color-secondary-hover: #d5e4fc;
    --color-secondary-disabled: #29364A;

    --color-background: #F8F9FC;

    --color-text-dark: #29364A;
    --color-text-light: var(--color-background);

    --color-grey-dark: #b7c3df;
    --color-grey-medium: #dfe4ec;
    --color-grey-light: #e8ecf3;

    --color-success: #18a352;
    --color-danger: #e44343;
    --color-warning: #f7c029;

    --font-size-xs: 0.75rem;    
    --font-size-sm: 0.875rem;  
    --font-size-md: 1rem;      
    --font-size-lg: 1.25rem;   
    --font-size-xl: 1.5rem;    
    --font-size-2xl: 2rem;      
    --font-size-3xl: 2.5rem;

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;

    --border-radius-sm: 6px;
    --border-radius-md: 10px;
    --border-radius-lg: 16px;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text-dark);
}

main {
    margin: 0 5% 100px 5%;
}

h1 {
    font-size: var(--font-size-2xl);
}
h2 {
    font-size: var(--font-size-xl);
}
h3 {
    font-size: var(--font-size-lg);
}
p {
    font-size: var(--font-size-md);
}